.element {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}
.deleteButton {
  margin-left: 25px;
  padding: 10px;
  display: inline;
}
.deleteButton:hover {
  background-color: red;
}
